* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: bisque;
}

.body-content main{
    display: flex;
    text-align: center;
}

.account-form {
    flex: 1;
    align-self: flex-start;
}

.form-element input,.form-element select,.form-element button{
    background-color: whitesmoke;
    font-size: 5vh;
}

.form-element{
    top: 20vh;
    margin: 5vh;
    width: 50%;
    height: 25%;
    margin-left: 5vh;
}
