* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    padding-top: 1em;
    text-align: center;
}

footer {
    padding-top: 5em;
}

.container-without-gif h4, .spinner-border{
    padding-top:25%;
}

.form-container {
    flex: 1;
    display: grid;
    height:30em;
    width: 100%;
    grid-auto-columns: 1fr;
}

.image-container {
    flex: 1;
    width: 100%;
    text-align: center;  
    vertical-align: middle;
}

#imageField, #imageGifField{
    width: 95%;
    margin: 1em;
    height:90%;
    max-height: 25em;
    border: solid;
}

/*For uploading and downloading.*/
.form-element, .form-element-text{
    top: 20vh;
    margin: 5vh;
    width: 50%;
    height: 25%;
    margin-left: 5vh;
}

a.form-element, .form-element input,.form-element select,.form-element button, .form-element-text input, button.form-element{
    background-color: whitesmoke;
    font-size: 5vh;
    text-align: center;
}


a.form-element {
    border-style: solid;
    text-align: center;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}

.form-element select,.form-element button, button.form-element{
    border-radius: 10%;
}

#submit-button {
    position: relative;
    left: 10vh;
    width: 40%;
    border-radius: 10%;
}

#algorithm {
    width: 50%;
    height: 60%;
    font-size: 100%;
}

.notification {
    background-color: brown;
    display: flex;
}


.notif-text h5{
    color: aliceblue;
}

.notif-button {
    align-content: center;
    margin-left: auto;
}

#notif-button {
    background-color: rgb(194, 138, 54);
    color: aliceblue;
    border: none;
    width: 10vw;
    height: 100%;
}

#notif-button:hover{
    background-color: azure;
    color: black;
}


a.form-element:hover, .form-element input:hover, .form-element button:hover, button.form-element:hover{
    background-color: aquamarine;
}

.account-form {
    flex: 1;
    align-self: flex-start;
}

@media only screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}