* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: bisque;
}

.body-content {
    height: 100%;
}

.body-content main {
    display: flex;
    background-color: beige;
    text-align: center;
    height: 80%;
    align-items: center;
    align-content: center;
}
.form-container {
    flex: 1;
    display: grid;
    grid-auto-columns: 1fr;
    align-items: center;
    align-content: center;
    align-self: center;
}

.image-container {
    flex: 1;
    margin-right: 5%;
    max-height: 100%;
}

.image-container #imageField, #imageGifField{
    height: 100%;
    width: 100%;
}

/*For uploading and downloading.*/
.form-element{
    top: 20vh;
    margin: 5vh;
    width: 50%;
    height: 25%;
    margin-left: 5vh;
}

.form-element input,.form-element select,.form-element button{
    background-color: whitesmoke;
    align-self: center;
    font-size: 5vh;
    flex:1;

}

.form-element select,.form-element button{
    border-radius: 10%;
}

#submit-button {
    position: relative;
    left: 10vh;
    width: 40%;
    border-radius: 10%;
}

#algorithm {
    width: 50%;
    height: 60%;
    font-size: 100%;
}

.form-element input:hover, .form-element button:hover{
    background-color: aquamarine;
}

@media only screen and (max-width: 800px) {
    .body-content main {
        display: grid;
        grid-template-columns: 1fr;
    }
}