{% extends "layout.html" %}
{% block content %}
      <div class="account-form">
          <form name="sign-up" id="sign-up-form" onsubmit="return false;">
              <div class="form-element-text auth-element">
                  <p>Username<input autocomplete="off" name="username" required/></p>
                </div>
              <div class="form-element-text auth-element">
                <p>Email<input autocomplete="off" name="email" type="email" required/></p>
              </div>
              <div class="form-element-text auth-element">
                <p>Password (6 characters minimum) <input name="password" type="password" pattern=".{6,}"  required title="6 characters minimum" required/></p>
              </div>
              <div class="auth-element">
                  <div class="sign-up-response"></div>
                  </div>
              <div class="form-element auth-element sign-up-button-container">
                <p><input id="signUpInput" class="form-element" type="submit" value="Sign up!" /></p>
              </div>
            </form>   
      </div>
      <div class="account-form">
          <form name="login" id="login-form" onsubmit="return false;">
              <div class="form-element-text auth-element">
                <p>Email<input autocomplete="off" name="email" type="email" required/></p>
              </div>
              <div class="form-element-text auth-element">
                <p>Password<input name="password" type="password" required/></p>
              </div>
              <div class="auth-element">
                  <div class="login-response"></div>
              </div>
              <div class="form-element auth-element login-button-container">
                <p><input id="loginInput" class="form-element" type="submit" value="Login" /></p>
              </div> 
          </form>   
      </div>         
{% endblock %}
{% block extend_js %}
<script type="text/javascript" src="../static/js/auth.js"></script>
{% endblock %}