<!DOCTYPE html>
<html>
    <head>
        <title>Imagif</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Imagif</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Download the algorithms library!<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav>
        </header>

        <div class="body-content">
            <main>
                <div class="form-container">
                    <h1>Welcome to Imagif!</h1>
                    <form id="upload-form" enctype="multipart/form-data">
                        <br>
                        <div class="form-element">
                            <input id="file-input" type="file" name="file" accept="image/jpeg, image/png" required/><br>
                        </div>
                        <div class="form-element">
                            <select id="algorithm" name="algorithm" required>
                                    <option value="plain">Plain</option>
                                    <option value="noise_switch">Noise Switch</option>
                            </select>
                            <input id="submit-button" type="submit" value="Convert"/>
                        </div>         
                    </form>
                </div>
                <div class="image-container">
                        <div class="gif-container" id="gif-contain">

                        </div>
                    <div class="container-without-gif">
                            <img id="imageField" src="#" alt="uploaded image" style="visibility: hidden;"/>
                            <h4 id="imageFieldEmpty">No image is uploaded yet.</h4>
                    </div>
                </div>
            </main>

            <footer>
                <hr/>
                <p>&copy; Tarcan Gul and Vaastav Arora 2019</p>
            </footer>
        </div>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/site.js"></script>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>