<!DOCTYPE html>
<html>
    <head>
        <title>Imagif</title>
        <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/site.css" />

    </head>
    <body>
        <header>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="#" class="navbar-brand">Imagif</a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Home</a></li>
                                </ul>
                                <div class="pull-right">
                                    <ul class="nav navbar-nav">
                                        <li><a class="navbar-right-side" href="#">Log In</a></li>
                                        <li><a class="navbar-right-side" href="#">Join us!</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </nav>
        </header>

        <div class="body-content">
            <main>
                
                <!--TODO: Expand welcoming screen and add an upload button-->
                <div class="form-container">
                    <h1>Welcome to Imagif!</h1>
                    <form id="upload-form" method="POST" action="OnImageRecieved" enctype="multipart/form-data">
                        <br>
                        <div class="form-element">
                            <input id="file-input" type="file" name="file" accept="image/jpeg, image/png"/><br>
                        </div>
                        <div class="form-element">
                            <select>
                                    <option value="plain">Plain</option>
                                    <option value="noise_switch">Noise Switch</option>
                            </select>
                        </div>         
                        <div class="form-element">
                            <input class="form-element" type="submit" value="Convert"/>
                        </div> 
                    </form>
                </div>
                <div class="image-container">
                    {%if convertedGif %}
                        <img id="imageGifField" src="../static/images/output.gif" alt="uploaded gif image" />
                    {% else %}
                        <img id="imageField" src="#" alt="uploaded image" style="visibility: hidden;"/>
                        <h4 id="imageFieldEmpty">No image is uploaded yet.</h4>
                    {% endif %}
                </div>
            </main>

            <footer>
                <hr/>
                <p>&copy; Tarcan Gul and Vaastav Arora 2019</p>
            </footer>
        </div>
        <script type="text/javascript" src="../static/js/site.js"></script>
        <script src="../static/lib/jquery/dist/jquery.js"></script>
        <script src="../static/lib/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>