{% extends "layout.html" %}
{% block content %}
<main>
      <div class="form-container">
        {% if username %}
        <h1 id="welcoming-text">Welcome {{username}}!</h1>
        {% else %}
        <h1 id="welcoming-text">Welcome to Imagif!</h1>
        {% endif %}
          <form id="upload-form" enctype="multipart/form-data">
              <br>
              <div class="form-element">
                  <input id="file-input" type="file" name="file" accept="image/jpeg, image/png" required/><br>
              </div>
              <div class="form-element">
                  <select id="algorithm" name="algorithm" required>
                          <option value="plain">Plain</option>
                          <option value="noise_switch">Noise Switch</option>
                          <option value="party_mode">Party Mode!</option>
                  </select>
                  <input id="submit-button" type="submit" value="Convert"/>
              </div>         
          </form>
      </div>
      <div class="image-container">
              <div class="gif-container" id="gif-contain">

              </div>
          <div class="container-without-gif">
                  <img id="imageField" src="#" alt="uploaded image" style="visibility: hidden;"/>
                  <h4 id="imageFieldEmpty">No image is uploaded yet.</h4>
          </div>
      </div>
</main>
{% endblock %}