<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Imagif{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/site.css" />
  {% block extend_css %}
  {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Imagif</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="../static/files/ImagifAlgorithms.zip" download>Download the algorithms library!<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
                <div class="right nav-link">
                    <ul class="navbar-nav mr-auto">
                    {% if username %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/yourgifs">Your Gifs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a href="/login">Signup/Login</a>
                    </li>
                    {% endif %}
                    </ul>
                </div>
              </nav>
              <div class="notification">
                  {% with message = get_flashed_messages(category_filter=["feedback"])[0] %}
                  {% if message %}
                  <div class="notif-text">
                    <h5>{{message}}</h5>
                  </div>
                  <div class="notif-button">
                    <button id="notif-button">Okay!</button>        
                  </div>
                  {% endif %}
                  {% endwith %}
                </div>
        </header>
        <main>

        {% block content %}
        {% endblock %}
        </main>
        <footer>
            <hr/>
            <p>&copy; Tarcan Gul 2019</p>
        </footer>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/utils.js"></script>
        {% block extend_js %}
        <script type="text/javascript" src="../static/js/site.js"></script>
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>