{% extends "layout.html" %}
{% block extend_css %}
<link rel="stylesheet" href="../static/css/usergifs.css">
{% endblock %}
{% block content %}
{% if images|length == 0 %}
    <p class="text-when-empty">Start making gifs in <a href="/">main page!</a></p>
{% else %}
    <div class="big-gif-container">      
        {% for image in images %}
            <div class="small-gif-container">
                <img src="data:image/gif;base64, {{image['image']}}" alt="image" />
                <h5>Created at {{(image['time']|string)[:19]}}</h5>
                <p>Algorithm: {{image['algorithm']}} </p>
                <p hidden>{{image['id']}}</p>
                <div class="button-container">
                    <div class="button-container-element">
                        <button class="form-element"><a download="{{image['name']}}" href="data:image/gif;base64, {{image[0]}}"  target="_blank">Download</a></button>
                    </div>
                    <div class="button-container-element">
                        <button class="remove-button form-element" data-image-id="{{image['id']}}">Remove</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
{% block extend_js %}
<script type="text/javascript" src="../static/js/usergifs.js"></script>
{% endblock %}
